img{
    height: 300px;
    width: 300px;
    border-radius: 4px;
    
  }
.container{
  background-color: cadetblue;
}
.row{
  padding-top: 10px;
}
.col-sm{
  padding: 10px;
}
#product{
  text-align: center;
  color: brown;
}